<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CEDUP 151 NEWS - Home</title>
    <link rel="stylesheet" href="/css/postnotice.css" />
   
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">CEDUP 151 NEWS</div>
        <ul>
          <li><a href="/home">Início</a></li>
          <li><a href="/home/postnotice">Postar</a></li>
          <li>
            <a href="/home/settings">
              <img class="user-profile-img" src="/uploads/<%= userImage %>" alt="Usuário" />
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <form action="/home/settings" method="POST" enctype="multipart/form-data">
        <div class="preview-container">
          <img
  id="preview"
  class="preview-img"
  src="/uploads/<%= userImage %>"
  alt="Pré-visualização"
/>
          <input type="file" name="profilePic" required />
        </div>
        <button type="submit">Enviar Foto</button>
      </form>
    </main>

   <script src="/js/script.js"></script>

  </body>
</html>
